
.btn-create {
    background-color: #6a8b9b;
    color: white;
    border: thin white;
    height: 50px;
    width: 175px;
    border-radius: 10px;
}

.btn-create:hover {
    background-color: #2e3e46;
    color: white;
    border: thin white;
    transition: 0.2s ease-in-out;

}



.btn-update {
    background-color: #6a8b9b;
    color: white;
    border: thin white;
    height: 50px;
    width: 175px;
    border-radius: 10px;
} 
    

.btn-update:hover {
    background-color: #2e3e46;
    color: white;
    border: thin white;
    transition: 0.2s ease-in-out;

}
    


.btn-delete {
    background-color: #6a8b9b;
    color: white;
    border: thin white;
    height: 50px;
    width: 175px;
    border-radius: 10px;
} 
    

.btn-delete:hover {
    background-color: #2e3e46;
    color: white;
    border: thin white;
    transition: 0.2s ease-in-out;

}
    