.btn-primary {
    background-color: #6a8b9b;
    color: white

}

button {
    border-radius: 5px;
    padding: 10px;
    margin: 4px;
    float: right;
    background-color: hsl(198, 32%, 70%);
    color: white;
    border: thin solid rgb(78, 78, 78);

}