body {
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
}

.container {
    margin: 20px 75px;
}

.btn-primary {
    background-color: #6a8b9b;
    color: white

}

button {
    border-radius: 5px;
    padding: 10px;
    margin: 4px;
    float: right;
    background-color: hsl(198, 32%, 70%);
    color: white;
    border: thin solid rgb(78, 78, 78);

}

#homeGallery {
    padding: 15px;
    height: 390px;
    width: 390px;
    float: right;
    
    // align-content: center;
    // display: inline-block;

    img {
        border: thin solid white;
        border-radius: 8px;
    }
    
}

