body {
     margin-top: 15px;
    margin-bottom: 130px;
}

.container {
    margin-top: 15px;
    margin-bottom: 130px;
}

.navbar {
    background-color: #6a8b9b;
    height: 80px;
    width: 78%;
    font-size: 18px;
    float: left;
    margin-top: 85px;
    margin-bottom: 75px;
    margin-left: 0px;

    // li {
    //     color: whitesmoke;
    // }

}

.navbar-light .navbar-brand {
    color: white;
    font-size: 25px;

}

.navbar-light .navbar-nav .nav-link {
    color:white;
}

.navbar-item {
    padding-left: 30px;
    // color: whitesmoke;
    color: rgb(14, 13, 13);

}

#logoImg {
    position: relative;
    vertical-align: top;
    height: 200px;
    width: 202px;
    border-style: none;
    border: thin solid black;
    border-radius: 50px;
    padding: 0;
    margin-top: 20px;
    margin-right: 0px;
    float: left;
    z-index: 1;
}

h2 {
    // padding-top: 95px;
    margin: 10px;
    padding: 2px;
    float: left;
}

h3 {
    padding-top: 250px;
}

.editHome {
    color: #546d79;
}


.btn-primary {
    background-color: #6a8b9b;
    color: white;
    border: thin white;
    // transition: ease-in-out .2s;
    

}

.btn btn-primary {
    background-color: #4b626d;
    color: white;
    border: thin white;
    transition: ease-in-out 0.2s;


}

// button {
//     border-radius: 5px;
//     padding: 10px;
//     margin: 4px;
//     float: right;
//     background-color: hsl(198, 32%, 70%);
//     color: white;
//     border: thin solid rgb(78, 78, 78);

// }



